.navBar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navPill {
  max-width: 425px;

  margin: 0.5rem auto 0;
  width: 100%; /* Le dice que intente ocupar todo, pero el max-width lo frenará */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 999px;
  /* Definimos borde y sombra interna transparentes para que animen */
  border: 1px solid transparent;

  padding: 10px 18px;
  color: var(--text-secondary);
  cursor: pointer;
}
