.formatImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

@media (max-width: 425px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.link {
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  margin: 1rem 0.3rem 0;
  padding: 0.3rem;
  border: solid 1px rgb(17, 17, 17);
}

.link:hover {
  color: var(--text-secondary);
  border: solid 1px rgb(255, 255, 255);
  transition: border 0.5s ease-in-out;
}

.linksContainer {
  margin-top: 1rem;
}

.icon {
  width: 20px;
  height: 1rem;
  margin-right: 0.2rem;
}
