* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #12215f;
  --text: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.75);
  --accent: #535bf2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  z-index: 10;
}

main {
  flex: 1;
}

a {
  font-weight: 500;
  color: var(--text-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}
