* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 5rem;
}

:root {
  --background: #12215f;
  --background-gradient: linear-gradient(
    135deg,
    #12215f,
    #0f1b4a,
    #292532,
    #292532,
    #3f2d5f,
    #614497
  );
  --text: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.75);
  --accent: #535bf2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background: var(--background-gradient);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 10;
}

main {
  flex: 1;
  padding: 0 1rem;
}

footer {
  /* El footer ocupará solo lo que necesite su contenido */
  height: auto;
}

section {
  margin: 1rem auto 0;
  text-align: left;
}

section:nth-child(1) {
  padding-top: 4rem;
}

@media (max-width: 389px) {
  html {
    font-size: 12px; /* reduce todo para caber */
  }
}

@media (min-width: 768px) {
  section {
    max-width: 48rem;
  }
}

@media (min-width: 1024px) {
  section {
    max-width: 64rem;
  }
}

a {
  font-weight: 500;
  color: var(--text-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}

p {
  opacity: 0.7;
}
