* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 5rem;
}

:root {
  --background: #12215f;
  --text: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.75);
  --accent: #535bf2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);
}

header {
  z-index: 10;
}

main {
  padding: 0 1rem;
}

section {
  margin: 1rem auto 0;
  text-align: left;
}

section:nth-child(1) {
  padding-top: 4rem;
}

@media (max-width: 389px) {
  html {
    font-size: 12px; /* reduce todo para caber */
  }
}

@media (min-width: 768px) {
  section {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  section {
    max-width: 56rem;
  }
}

a {
  font-weight: 500;
  color: var(--text-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}
